<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create</title>
  </head>
  <body>
    <form  action="/notes/create" method="POST">
      <input type="number" name="id" value=""/>
      <input type="text" name="notes_description" value=""/>
      <input type="text" name="author" value=""/>
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
